<p><strong>title:</strong>
    <%= @article.title %>
</p>

<p><strong>text:</strong>
    <%= @article.text %>
</p>

<p><%= link_to '修改', edit_article_path(@article) %></p>
<p><%= link_to '返回文章列表', articles_path %></p>